<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <!-- title -->
    <title>Fluid layout</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta property="ogg:title" content="" />
    <meta property="ogg:descriptions" content="" />
    <meta property="ogg:image" content="" />
    <meta property="ogg:url" content="" />
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/font-awesome.min.css'>
    <script src='main.js'></script>
    <script src='main.js'></script>
</head>
<body>
<!-- smart app header section start here -->
<section id="smart-header">
    <div class="header">
        <img src="images/logo.png" />
    </div>
<!-- smart app banner or hero  section start here -->
    <div class="banner">
        <div class="banner-text">
          <h1>HTML5 Landing Home Page</h1>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum obcaecati odit ducimus quod, aspernatur praesentium temporibus. Reprehenderit, vitae eos eius dolorem culpa tenetur amet, iusto pariatur id eligendi alias.</p>
          <button type="button" id="banner-text-btn1">Download App</button>
          <button type="button" id="banner-text-btn2">Learn More</button>
            
        </div>
        <div class="banner-img">
            <img src="images/slider.png" />
        </div>
    </div>
</section>
 
<!-- smart app content section start here -->
 <section id="smart-content">
  <div class="based-app">
   <span class="fa fab fa-android"></span>
   <h1 class="text-style">Best App</h1>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis non optio ducimus dolore repudiandae doloremque aliquid explicabo doloribus adipisci itaque possimus nam, nulla nostrum eligendi rerum qui incidunt! Consequatur.</p>
  </div>
  <div class="best-award">
    <span class="fa fab fa-android"></span>
    <h1 class="text-style">Best App</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis non optio ducimus dolore repudiandae doloremque aliquid explicabo doloribus adipisci itaque possimus nam, nulla nostrum eligendi rerum qui incidunt! Consequatur.</p>
  </div>
  <div class="loved-app">
    <span class="fa fab fa-android"></span>
    <h1 class="text-style">Best App</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis non optio ducimus dolore repudiandae doloremque aliquid explicabo doloribus adipisci itaque possimus nam, nulla nostrum eligendi rerum qui incidunt! Consequatur.</p>
  </div>
 </section>
<!-- smart app footer section start here -->
<section id="smart-footer">

</section>
    
</body>
</html>