body 
{
margin: 0px;
padding: 0px;
overflow-x: hidden;
background-color: lightgray;  
}
.navbar 
{
 width: 60%;
 height: auto;
 margin: auto;
 border-radius: 45px 45px 0px 0px;
}
.navbar ul li 
{
padding: 5px 10px;
list-style-type: none;
text-decoration: none;  
}
.navbar a 
{
  color: white;
  font-size: 20px;
}
.navbar-brand
{
font-weight: bolder;
font-size: 35px !important;  
}
.content 
{
width: 60%;
height: auto;
margin: auto;
border-radius: 0px 0px 0px 0px;  
padding: 45px;
}
.footer
{
 width: 60%;
height: auto;
margin: auto;
border-radius: 0px 0px 45px 45px;  
padding: 5px;
background-color: black; 
color: white !important;
}